.investment__form {
  width: 30rem;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 6px;
  background: linear-gradient(180deg, #307e6c, #2b996d);
}

.input-group {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.input-group label {
  display: block;
  font-size: 0.6rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
}

.input-group input {
  padding: 0.5rem;
  background: transparent;
  border-radius: 6px;
  border: 1px solid #76c0ae;
  color: #c2e9e0;
  width: 100%;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.actions .button {
  border: none;
  padding: 0.3rem 1rem;
  border-radius: 6px;
  color: #c2e9e0;
  background: linear-gradient(180deg, #1f584b, #17493d);;
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
}

.actions .buttonAlt {
  border: none;
  background-color: transparent;
  font-family: 'Roboto Condensed', sans-serif;
  color: #c2e9e0;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(180deg, #1b5346, #113c32);
}

.buttonAlt:hover {
  background: transparent;
  color: #91e1d0;
}